<h1><%= @message %></h1>
<h1>URLs</h1>
<form action="/admin" method="post">
  <select multiple="true" name="urls">
    <% all_topics[@selected_topic].each do |url| %>
        <option value="<%= url %>"><%= url %></option>
    <% end %>
  </select>
  <input type="submit" value="Entfernen" name="del_url" />
  <input type="text" />
  <input type="submit" value="Hinzufügen" name="add_url" />
</form>