<h1>Topics</h1>
<form action="/admin" method="post">
  <select name="selection">
    <% all_topics.keys.each do |topic| %>
        <option value="<%= topic %>"><%= topic %></option>
    <% end %>
  </select>
  <input type="submit" value="Laden" name="edit_topic"/>
  <input type="submit" value="Löschen" name="del_topic"/>
  <br/>
  <input type="text" name="new_topic_name"/>
  <input type="submit" value="Neues Topic hinzufügen" name="add_topic"/>
</form>
